* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin-top: 50px;
    
}

h2 {
    margin-top: 25px;
    margin-bottom: 15px;
}

li {
    margin-bottom: 15px;
    list-style: none;
}

small {
    display: block;
    color: #222;
    font-style: italic;
}

body {
    margin: 0;
    padding: 20px; /* Ou o quanto achar necessário para não grudar na borda */
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    background-color: #ffffff; /* Fundo branco para bater com o padrão da Kiwify */
}

body {
    padding: 20px;
    font-size: 18px;
    font-family: sans-serif;
}

.palavra {
    display: block;
    padding-bottom: 5px;
}
