* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Evita que a tela balance para os lados */
  touch-action: pan-y; /* Melhora a resposta do scroll vertical no celular */
}

h1 {
    margin-top: 50px;
    
}

h2 {
    margin-top: 25px;
    margin-bottom: 15px;
}

li {
    margin-bottom: 15px;
    list-style: none;
}

small {
    display: block;
    color: #222;
    font-style: italic;
}

body {
    padding: 20px;
    font-size: 18px;
    font-family: sans-serif;
}

.palavra {
    display: block;
    padding-bottom: 5px;
}
